#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/*
 * DIAGNOSTIC KEYMAP (temporary).
 * Pairs with the dense 5x12 diagnostic matrix transform in ataraxia.dtsi.
 * Every matrix intersection emits a unique character so each physical key
 * can be identified. Right-half decode (character -> kscan row,col):
 *   A B C D E F = row0 col0..5      G H I J K L = row1 col0..5
 *   M N O P Q R = row2 col0..5      S T U V W X = row3 col0..5
 *   Y Z 1 2 3 4 = row4 col0..5
 */

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Diag";
            bindings = <
&kp A &kp B &kp C &kp D &kp E &kp F        &kp A &kp B &kp C &kp D &kp E &kp F
&kp G &kp H &kp I &kp J &kp K &kp L        &kp G &kp H &kp I &kp J &kp K &kp L
&kp M &kp N &kp O &kp P &kp Q &kp R        &kp M &kp N &kp O &kp P &kp Q &kp R
&kp S &kp T &kp U &kp V &kp W &kp X        &kp S &kp T &kp U &kp V &kp W &kp X
&kp Y &kp Z &kp N1 &kp N2 &kp N3 &kp N4    &kp Y &kp Z &kp N1 &kp N2 &kp N3 &kp N4
            >;
        };
    };
};
